.xlSmallButton
{
	width:100px; height:25px; color:black; font-size:14px;
}

.xlEditButton
{
	width:75px; height:20px; color:black;
}

.xlDeleteButton
{
	color:#EE0000; width:100px; height:25px; font-size:14px;
}

.xlMainTable
{
	background-color:#ffffff; 
	color:#000000;
	width:100%;
}

.xlImage
{
	padding-right:10px; padding-top:2px; width:100px; height:100px;
}

.xlFormFooterContainer
{
	margin: 0 3px 3px;
	border: none;
	width: 99%;
}

.xlFormFooterButton
{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(225,226,230)), to(rgb(151,167,188)));
	width: 100%;
	padding: 5px 0px 5px 0px;
	font-size: 16px;
}

.mblLoginText a 
{
	float:right;
	margin-top:6px;
	margin-right:15px;
	height: 25px;
	width: 50px;
	padding: 2px 2px 0px 2px;
	text-decoration: none;
	border-style: inset; 
	font-family: Helvetica; 
	font-size:13px;
	color: white;
	line-height:21px;
	border-style: solid;
	border-width:1px;
	border-color: #9CACC0;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px;
	-webkit-border-radius: 5px;  
	background-color: #5877A2;
	background: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
	background: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
	-webkit-tap-highlight-color: transparent;
}

.android .mblLoginText a 
{
	border-color: #3F3E3E; 
	background-color: #ADADAD;
	background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#7F7F7F), color-stop(0.5, #ADADAD), color-stop(0.5, #909090)); 
}

.mblSearchBar
{
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(225,226,230)), to(rgb(151,167,188))); 
	height:42px; 
	vertical-align:middle; 
	line-height:42px;
	position: relative;
}

.android .mblSearchBar
{	
	border-color: #9CACC0;
	background-color: #5877A2;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(237, 239, 243)), to(rgb(200, 202, 204)));
}

.mblSearchBar input
{
	padding-left: 8px;
	border-radius: 16px;
	position: absolute;
	border:1px solid #9CACC0;	
	left:5px;
	right: 50px; 
	top: 3px;
	bottom: 2px;
	font-size:18px;
}

.android .mblSearchBar input
{	
	bottom: 1px;
	line-height: 33px;
	border-radius: 7px;
}

.mblSearchBar button
{
	position: absolute;
	top: 5px;
	right: 9px;
	width:33px; 
	height:33px;
	padding-left:6px;	
	border-style: inset; 
	border-color: #9CACC0; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	background-color: #5877A2; 
	background: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999)); 
	-webkit-tap-highlight-color: transparent;
}

.android .mblSearchBar button
{
	border: 1px solid #3F3E3E;
	background-color: #ADADAD;
	background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#7F7F7F), color-stop(0.5, #ADADAD), color-stop(0.5, #909090));
}

.mblFormFooterButton
{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(225,226,230)), to(rgb(151,167,188)));
	width: 30%;
	padding: 5px 0px 5px 0px;
	font-size: 16px;
}

.mblSmallFormFooterButton
{
	border-style: inset; 
	border-color: #9CACC0; 
	font-family: Helvetica; 
	font-size: 13px;
	font-weight:bold;
	color: black;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: #5877A2;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(237, 239, 243))); 
	width: 25%;
	font-size: 14px;
	padding-top:2px;
	padding-bottom:2px;
}

.mblCategoryBar
{
	color: black;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(213, 215, 222)));
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: Helvetica;
	font-size: 14px;
	text-align: left;
}

.xvwDocView .mblListItemIcon{
	postion: relative;
	top: 10px;
	left: 10px;
}

.mblListItemIcon{
	postion: relative;
	top: 10px;
	left: 10px;
}

body .iphone
{
	background: white;
}

li.mblListItem a.mblListItemAnchorNoIcon 
{ 
	font-weight:normal;
	padding-left:10px;
	padding-right:22px; 
	padding-top:0px;
}

hr 
{
	height:1px;
	border:none;
	color:#AEAEAE;
	background-color:#AEAEAE;
}
 
legend
{
	display:hidden;
}

.mblFormTable
{
	font-size:14px; 
	font-weight:normal;
}

.mblListItemTextBox, .mobileFormHeader, .mblDataViewTextTitle, .mblResponseParentSub,
.lotusFormFieldRow, .formRow, .topicSubject
{
	/*word-wrap: break-word;*/
	text-overflow: ellipsis;
}

.mblFormRowInput
{
	width:95% ;
}

.mblFormRowTextArea
{
	font-size:18px; 
	font-family: Helvetica;
	margin-left:1px;
}

.mblSearchInput
{
	font-size:14px;
}

.mblHeading
{
	text-align:center;
}

.mblThreadPanel
{
	background-color:#ffffff; 
	color:#000000; 
	width:100%;
}

.mblThreadDiv
{
	color:rgb(140, 140, 140);
	font-size:11pt
}

.mblThreadDivText
{
	color: black; 
	font-weight:bold;
	font-size:16pt;
}

.mblThreadRichText
{
	color: black; 
	font-weight:normal;
	font-size:14pt
}

.mblThreadKeyThought
{
	color: black; 
	font-weight:bold;
	font-size:11pt; 
	line-height:30px;
}

.mblThreadSmallText
{
	font-size:10pt;
}

.mblThreadFileDownload
{
	padding-bottom:5px;
}

.mblThreadRightButton
{
	float:right;
}

.mblThreadExpandImage
{
	float:right; 
	margin-top:-25px;
}

.mblDetailTextBold
{
	font-size:10pt; 
	font-weight:bold
}

.mblDetailTextNormal
{
	font-size:10pt; 
	font-weight:normal;
	word-wrap:break-word;
}

.mblMemberViewImage
{
	height:25px; 
	width:25px;
}

.mblNewButtonDiv div
{
	position: relative; 
	top: -1px; 
	font-size:22px; 
	line-height:10px;
}

.mblFileDownloadPanel
{
	width:100%;
}

.mblFileDownloadlbl
{
	fonst-size:12px; 
	font-weight:bold;
}

.formRowImage
{
	margin-top:8px;
}

.xlAuthorProfileViewHeader
{
	font-weight:bold;
}

.xlExtraColumn
{
	font-size:12px;
}

.mblHomeProfile
{
	overflow: hidden;
}

.xlTopicThreadLinkFont
{
	font-size:12pt;
}

.xlTopicReadMore
{
	display:block; 
	color: black; 
	font-weight:bold;
	font-size:16pt; 
	width:100% !important;
}

.mblDataViewTextContent
{
	font-weight: normal;
}

.xlEmptyFacet
{
	display:block; 
	width:200px; 
	text-align:center; 
	margin-left:auto; 
	margin-right:auto;
}

/*.iphone .disabled
{
	display: block;
	padding: 5px;
	border: 1px solid white;
	background-color: #ADAAAD;
	-webkit-box-shadow: 1px 1px 1px #8E8E8E;
	border-radius: 5px;
}*/

.xlThreadTable
{
	width:100% !important; 
	word-wrap: break-word;
}

.xlThreadBody, .xlReplyBorder
{
	border-style:solid; 
	border-color:#E5E5E5; 
	border-width:1px;
}

.xlReplyTable
{
	border:none !important;
	width:100%;
}