a
{
	text-decoration: none;
}

.mblSearchBar
{
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(225,226,230)), to(rgb(151,167,188))); 
	height:42px; 
	vertical-align:middle; 
	line-height:42px;
	position: relative;
}

.android .mblSearchBar
{	
	border-color: #9CACC0;
	background-color: #5877A2;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(237, 239, 243)), to(rgb(200, 202, 204)));
}

.mblSearchBar input
{
	padding-left: 8px;
	border-radius: 16px;
	position: absolute;
	border:1px solid #9CACC0;	
	left:5px;
	right: 50px; 
	top: 3px;
	bottom: 2px;
	font-size:18px;
}

.android .mblSearchBar input
{	
	bottom: 1px;
	line-height: 33px;
	border-radius: 7px;
}

.mblSearchBar button
{
	position: absolute;
	top: 5px;
	right: 9px;
	width:33px; 
	height:33px;
	padding-left:6px;	
	border-style: inset; 
	border-color: #9CACC0; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	background-color: #5877A2; 
	background: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999)); 
	-webkit-tap-highlight-color: transparent;
}

.android .mblSearchBar button
{
	border: 1px solid #3F3E3E;
	background-color: #ADADAD;
	background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#7F7F7F), color-stop(0.5, #ADADAD), color-stop(0.5, #909090));
}

.mblFormFooterButton
{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(225,226,230)), to(rgb(151,167,188)));
	width: 30%;
	padding: 5px 0px 5px 0px;
	font-size: 16px;
}

.mblSmallFormFooterButton
{
	border-style: inset; 
	border-color: #9CACC0; 
	font-family: Helvetica; 
	font-size: 13px;
	font-weight:bold;
	color: black;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: #5877A2;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(237, 239, 243))); 
	width: 25%;
	font-size: 14px;
	padding-top:2px;
	padding-bottom:2px;
}

.mblCategoryBar
{
	color: black;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(213, 215, 222)));
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: Helvetica;
	font-size: 14px;
	text-align: left;
}

.xvwDocView .mblListItemIcon{
	postion: relative;
	top: 10px;
	left: 10px;
}

.mblListItemIcon{
	postion: relative;
	top: 10px;
	left: 10px;
}

body.iphone
{
	background: white;
}

li.mblListItem a.mblListItemAnchorNoIcon 
{ 
	font-weight:normal;
	padding-left:10px;
	padding-right:22px; 
	padding-top:0px;
}

hr 
{
	height:1px;
	border:none;
	color:#AEAEAE;
	background-color:#AEAEAE;
}
 
legend
{
	display:hidden;
}

.mblFormTable
{
	font-size:14px; 
	font-weight:normal;
}

.mblListItemTextBox, .mobileFormHeader, .mblDataViewTextTitle, .mblResponseParentSub
{
	word-wrap: break-word;
}

.mblFormRowInput
{
	width:95%;
}

.mblFormRowTextArea
{
	font-size:18px; 
	font-family: Helvetica;
	margin-left:1px;
}

.mblSearchInput
{
	font-size:14px;
}

.mblHeading
{
	text-align:center;
}

.mblThreadPanel
{
	background-color:#ffffff; 
	color:#000000; 
	width:100%;
}

.mblThreadDiv
{
	color:rgb(140, 140, 140);
	font-size:11pt
}

.mblThreadDivText
{
	color: black; 
	font-weight:bold;
	font-size:16pt
}

.mblThreadRichText
{
	color: black; 
	font-weight:normal;
	font-size:14pt
}

.mblThreadKeyThought
{
	color: black; 
	font-weight:bold;
	font-size:11pt; 
	line-height:30px;
}

.mblThreadSmallText
{
	font-size:10pt;
}

.mblThreadFileDownload
{
	margin-bottom:10px;
}

.mblThreadRightButton
{
	float:right;
}

.mblThreadExpandImage
{
	float:right; 
	margin-top:-25px;
}

.mblDetailTextBold
{
	font-size:10pt; 
	font-weight:bold
}

.mblDetailTextNormal
{
	font-size:10pt; 
	font-weight:normal;
	word-wrap:break-word;
}

.mblMemberViewImage
{
	height:25px; 
	width:25px;
}

.mblFileDownloadPanel
{
	width:100% !important;
}

.xlEmptyFacet
{
	display:block; 
	width:250px !important; 
	text-align:center; 
	margin-left:auto; 
	margin-right:auto;
}

.xlTableWidth
{
	width:100%;
}

.xlThreadStatusTable
{
	width:100% !important; 
	word-wrap: break-word; 
	overflow:hidden;
}

.xlThreadStatusDetail
{
	border-top: solid; 
	border-top-size: 1px; 
	border-top-color:rgb(192,192,192);
}

.xlThreadTable
{
	width:100% !important; 
	word-wrap: break-word;
}

.xlThreadBody
{
	border-top: solid; 
	border-top-size: 1px; 
	border-top-color:rgb(192,192,192);
}

.xlReplyBar
{
}

.xlTableRowBackground
{
	border-top: 1px solid #D6DADF;
	border-bottom: 1px solid #D6DADF;
	display: block;
}

.xlButtonSpacing
{
	padding-bottom: 5px;
	padding-top: 5px;
}

.mblThreadReponseTopic
{
	display: inline-block;
	/*color: #105CB6;*/
	color: black;
	font-weight: bold;
	font-size: 13pt;
	width: 98%;
}

.xlReplyContentDiv
{
}

.xlReplyPadding1
{
	padding-left:20px;
}
.xlReplyPadding2
{
	padding-left:40px;
}
.xlReplyPadding3
{
	padding-left:60px;
}
.xlReplyPadding4
{
	padding-left:80px;
}

.xlReplyMargin1
{
	margin-left:20px;
}
.xlReplyMargin2
{
	margin-left:40px;
}
.xlReplyMargin3
{
	margin-left:60px;
}
.xlReplyMargin4
{
	margin-left:80px;
}

.xlReplyImage1
{
	padding-left:0px;
	float:left;
}
.xlReplyImage2
{
	padding-left:20px;
	float:left;
}
.xlReplyImage3
{
	padding-left:40px;
	float:left;
}
.xlReplyImage4
{
	padding-left:60px;
	float:left;
}

.xlHidden
{
	display:none;
}

.mblFileDownloadlbl
{
	fonst-size:12px; 
	font-weight:bold;
	color:black;
	padding-bottom: 3px;
}

.xlAttachmentRow
{
	border-bottom:1px solid black;
	margin-bottom: 3px;
	width:250px;
}

.xlAttachmentLink
{
	margin-bottom:3px;
	display:inline-block;
	width: 150px;
	min-width:150px;
	text-overflow: ellipsis;
	margin-right:5px;
}

.xlAttachFileSize
{
}

.xlMobileAttachExpand
{
	position: relative;
	top: 5px;
	left: 10px;
	padding:3px;
	-webkit-border-radius: 10px;
}

.mblDataRowIcon li
{
	min-height: 35px;
}